.page-header {
	margin-top: 20px;
}
#search-container {
	height: 200px;
}
#search-bar {
	width: 100%;
}
body {
}
* {
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.toggle.fvzlg, .toggle.fvzlg .toggle-handle {
	font-family: "Lucida Console", "Monaco", "Monospace", "monospace", "Courier New", "Courier";
}
.table-borderless td, .table-borderless th {
	border-top: none !important;
	padding: 4px !important;
}
.cap_probe {
	padding-top:    3px;
	padding-bottom: 3px;
}
.row-margin {
	margin-bottom: 15px;
}
pre {
	overflow-x: auto;
}
pre code {
	white-space: pre;
}
.query-header {
	white-space: nowrap;
	overflow-x: hidden;
}
.query-header small {
	font-family: Monospace;
}
.groupheader h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}