{
	"probe_id_hash": "TNQtFsXP7fVMkswChFPPHJWx58KdHgpsqQwSL8NrtTXzPkwWC4fwTQsb3mBjMkPf",
	"ssh_defaults": [
		"-q",
		"-F/dev/null",
		"-oPasswordAuthentication=no",
		"-oKbdInteractiveAuthentication=no",
		"-oChallengeResponseAuthentication=no",
		"-oUseRoaming=no",
		"-oStrictHostKeyChecking=no",
		"-oConnectTimeout=60",
		"-oServerAliveCountMax=120",
		"-oServerAliveInterval=1",
		"-oControlPath=/tmp/%r@%h:%p",
		"-oControlMaster=auto",
		"-oControlPersist=yes"
	],
	"limiter": {
		"windowMs": 3600000,
		"max": 1000,
		"delayAfter": 500,
		"delayMs": 100,
		"whitelist": ["127.0.0.1"],
		"blacklist": [],
		"message": "Access denied"
	},
	"queue": {
		"probe": 5,
		"websocket": 20,
		"global": 50
	},
	"logs": {
		"status": true,
		"requests": {
			"http": true,
			"websocket": true
		},
		"use_x_forwarded_for": true,
		"debug": true
	},
	"http": {
		"host": "*",
		"port": 8080
	}
}
