{
	"html": {
		"title": "FuslVZ Looking Glass",
		"header": "<h1>FuslVZ <small>Looking Glass</small></h1>",
		"footer": "<p class=\"float_left\"><a href=\"http://webchat.freenode.net?randomnick=1&channels=%23fuslvz\">chat.freenode.net #fuslvz</a> | <a href=\"https://twitter.com/fuslvz\">@FuslVZ</a> | <a target=\"_blank\" href=\"https://github.com/Fusl/intrace/wiki\">API Docs</a></p><p class=\"float_right\">intrace is a product of <a target=\"_blank\" href=\"http://fuslvz.ws/\">FuslVZ</a> and <a target=\"_blank\" href=\"https://ip6.im/\">ip6.im</a> | &copy; 2017 <a href=\"http://fuslvz.ws/\">FuslVZ Ltd.</a></p><div class=\"clear_both\"></div>",
		"columned_probes": false
	}
}
